<p *ngIf="!dogs"><em>Loading...</em></p>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="dogs">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Age</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{ dog.id }}</td>
      <td>{{ dog.name }}</td>
      <td>{{ dog.age }}</td>
      <td>{{ dog.weight }}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Add dog</h2>
  <div class="form-group">
    <label for="name-input"> Name </label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.get('name').invalid && form.get('name').touched
      }"
      id="name-input"
      formControlName="name"
    />
    <small
      class="form-text text-danger"
      *ngIf="form.get('name').invalid && form.get('name').touched"
      >Name is required</small
    >
  </div>
  <div class="form-group">
    <label for="name-age"> Age </label>
    <input
      type="number"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.get('age').invalid && form.get('age').touched
      }"
      id="name-age"
      formControlName="age"
    />
    <small
      class="form-text text-danger"
      *ngIf="form.get('age').invalid && form.get('age').touched"
      >Age is required</small
    >
  </div>
  <div class="form-group">
    <label for="name-weight"> Weight </label>
    <input
      type="number"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.get('weight').invalid && form.get('weight').touched
      }"
      id="name-weight"
      formControlName="weight"
    />
    <small
      class="form-text text-danger"
      *ngIf="form.get('weight').invalid && form.get('weight').touched"
      >Weight is required</small
    >
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
